@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

input{
  text-align: center;
  outline: 2px dashed rgb(255, 58, 124);
  font-size: x-large;
}

output{
  font-size: 300%;
}